# ignore a single file
.DS_Store

# ignore an entire directory
/bin/
/obj/
/.vscode/

# ignore a file type
#*.json

# add an exception (using !) to the preceding rule to track a specific file
#!package.json